In [4]:
import pandas as pd

In [7]:
data = pd.read_csv('./data/DAT_EURUSD_2018.csv')

In [9]:
data.head(2)

,datetime,Buying_Rate,Cash_Buying_Rate,Selling_Rate,Cash_Selling_Rate
0,2018-01-01 17:00,1.20037,1.20100,1.20037,1.2010
1,2018-01-01 17:01,1.20083,1.20095,1.20017,1.2003

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 372607 entries, 0 to 372606
Data columns (total 5 columns):
datetime             372607 non-null datetime64[ns]
Buying_Rate          372607 non-null float64
Cash_Buying_Rate     372607 non-null float64
Selling_Rate         372607 non-null float64
Cash_Selling_Rate    372607 non-null float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 14.2 MB

In [13]:
data.datetime = pd.to_datetime(data.datetime )

In [16]:
data[data.datetime<='2018-01-01 17:00']

,datetime,Buying_Rate,Cash_Buying_Rate,Selling_Rate,Cash_Selling_Rate
0,2018-01-01 17:00:00,1.20037,1.201,1.20037,1.201

In [17]:
data.columns

Index(['datetime', 'Buying_Rate', 'Cash_Buying_Rate', 'Selling_Rate',
       'Cash_Selling_Rate'],
      dtype='object')

In [21]:
data.loc[data.datetime<='2018-01-01 17:00', ['Buying_Rate', 'Cash_Buying_Rate']]

   Buying_Rate  Cash_Buying_Rate
0      1.20037             1.201

In [28]:
data.iloc[0:5, [1, 2]]

   Buying_Rate  Cash_Buying_Rate
0      1.20037           1.20100
1      1.20083           1.20095
2      1.20035           1.20043
3      1.20041           1.20050
4      1.20049           1.20049

In [37]:
data.iloc[list(np.where(data.datetime>='2018-01-01 17:00')), [1, 2]]

ValueError: Buffer has wrong number of dimensions (expected 1, got 2)

In [38]:
import numpy as np
np.where(data.datetime>='2018-01-01 17:00')

(array([     0,      1,      2, ..., 372604, 372605, 372606], dtype=int64),)

In [41]:
np.where(data.datetime>='2018-01-01 17:00').reval()

AttributeError: 'tuple' object has no attribute 'reval'