In [15]:
import os
os.getcwd()
path = "C:\\Users\\sliu\\My_first_ml\\machine_learning_lesson\\data\\"
filename = "DAT_EURUSD_2018.csv"

In [16]:
# Load the Pandas libraries with alias 'pd' 
import pandas as pd 
data = pd.read_csv(path+filename) 
data.head()

,datetime,Buying_Rate,Cash_Buying_Rate,Selling_Rate,Cash_Selling_Rate
0,2018-01-01 17:00,1.20037,1.20100,1.20037,1.20100
1,2018-01-01 17:01,1.20083,1.20095,1.20017,1.20030
2,2018-01-01 17:02,1.20035,1.20043,1.20035,1.20043
3,2018-01-01 17:03,1.20041,1.20050,1.20031,1.20046
4,2018-01-01 17:04,1.20049,1.20049,1.20046,1.20048